.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.trendingContainer {
  margin-bottom: 20px;
}

.trendingHashtagsBox,
.trendingNewsBox {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: 500;
}

.mainContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  flex-grow: 1;
}

.leftBox,
.rightBox {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
}

/* Common header class */
.commonHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure it takes the full width of the parent */
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  color: #333333;
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.subtitle {
  font-size: 16px;
  color: #555555;
  margin-bottom: 20px;
}

.chartAndSentiment {
  display: flex;
  align-items: center;
}

.chartAndSentiment .chart {
  width: 50%; /* Adjust this percentage as needed */
}

.chartAndSentiment .sentiment {
  width: 50%; /* Adjust this percentage as needed */
  margin-left: 0; /* Ensure there's no additional margin on the left */
  display: flex;
  flex-direction: column;
}

.sentimentItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.iconNegative {
  color: #e74c3c;
  margin-right: 10px;
}

.iconPositive {
  color: #2ecc71;
  margin-right: 10px;
}

.iconNeutral {
  color: #f1c40f;
  margin-right: 10px;
}

.sentimentText {
  font-size: 14px;
}

.sources {
  margin-top: 20px;
}

.sourcesTitle {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.headers {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.sourceHeader {
  width: 16%;
  text-align: left;
  font-size: 17px;
}

.source {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.sourceText {
  width: 16%;
  text-align: left;
  font-size: 14px;
  color: #555555;
}

.stat {
  width: 16%;
}

.bar {
  height: 10px;
  background-color: #3498db;
  border-radius: 5px;
}

.mentions,
.pos,
.neg,
.neu {
  width: 16%;
  text-align: left;
  font-size: 14px;
  color: #555555;
}



.handle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.avatar {
  margin-right: 15px;
}

.handleInfo {
  flex-grow: 1;
}

.handleName {
  font-size: 14px;
  font-weight: 600;
}

.handleFollowers {
  font-size: 12px;
  color: #20c;
}

.handleCount {
  display: flex;
  align-items: center;
}

.count {
  margin-right: 5px;
  font-size: 14px;
}

.chatIcon {
  color: #888888;
}

.viewMore {
  text-align: center;
  margin-top: 20px;
}

.viewMoreText {
  font-size: 14px;
  color: #3498db;
  cursor: pointer;
}

.iconButton {
  padding: 0;
}

@media (min-width: 1280px) {
  .mainContent {
    grid-template-columns: 7.5fr 4.5fr;
  }
}
