.container {
    text-align: center;
    padding: 2rem;
  }
  
  .heading {
    margin-bottom: 0.5rem;
    color: #2a4343;
  }
  
  .subheading {
    margin-bottom: 1rem;
    color: #2a4343;
  }
  
  .input {
    margin-bottom: 0.5rem;
    border-radius: 4px;
    background-color: #f5f5f5;
  }
  
  .helperText {
    margin-bottom: 1rem;
    color: #a9a9a9;
  }
  
  .submitButton {
    background-color: #7f989a;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    text-transform: none;
  }
  