.container {
  background-color: #ffffff;
  /* padding: 20px; */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  color: #333333;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.content {
  display: flex;
}

.leftBox {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.rightBox {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin-top: 70px;
}



.chartAndSentiment {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.chart {
  width: 50%;
  display: flex;
  justify-content: center;
}

.sentiment {
  width: 70%;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.sentimentItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.iconNegative {
  color: #e74c3c;
  margin-right: 10px;
}

.iconPositive {
  color: #2ecc71;
  margin-right: 10px;
}

.iconNeutral {
  color: #f1c40f;
  margin-right: 10px;
}

.sentimentText {
  font-size: 14px;
}

.headers {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.sourceHeader {
  width: 16%;
  text-align: left;
  font-size: 17px;
}

.source {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.sourceText {
  width: 16%;
  text-align: left;
  font-size: 14px;
  color: #555555;
}

.stat {
  width: 16%;
}

.bar {
  height: 10px;
  background-color: #3498db;
  border-radius: 5px;
}

.mentions,
.pos,
.neg,
.neu {
  width: 16%;
  text-align: left;
  font-size: 14px;
  color: #555555;
}
