.container {
    padding: 20px;
  }
  .header{
    color: #333;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 20px;
  }
  .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border: 1.5px solid var(--Primary-TEXT-70, #D3E7EC);
    border-radius: 8px;
    position: relative;
  }
  
  .imageWrapper {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1rem;
  }
  
  .image {
    border-radius: 50%;
  }
  
  .details {
    flex: 1;
    margin-left: 1rem;
  }
  
  .editButton {
    display: flex;
    align-items: center;
    padding: 5px 15.5px 5px 9px;
    border: 1px solid var(--Primary-TEXT-70, #D3E7EC);
    border-radius: 4px;
  }
  
  .editText {
    color: var(--Primary-TEXT-100, #2A4343);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  margin-left: 7.5px;
  }
  
  .infoBox {
    flex: 1;
    margin-left: 1rem;
  }
  
  
  /* components/PersonalInfo.module.css */
  
  .container1 {
    border: 1.5px solid var(--Primary-TEXT-70, #D3E7EC);
    padding: 16px;
    border-radius: 8px;
  }
  
  .header1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    color: var(--Primary-TEXT-100, #2A4343);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; 
  }
  
  .infoBox1 {
    padding: 8px;
    line-height: 100px;
  }
  
  .editButton1 {
    margin-left: auto;
  }
  .textstyle{
    color: var(--Primary-TEXT-100, #2A4343);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  }
  
  
  .details1{
    color: var(--Primary-TEXT-100, #2A4343);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; 
  }
  
  .details2{
    color: var(--Primary-TEXT-100, #2A4343);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; 
  }